<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author }}" />
    <!--<link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen">-->
    <!--<link href="http://deedstraining.github.com/atom.xml" type="application/atom+xml" rel="alternate" title="DEEDS Training" />-->
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
      </div>
      </div>
      <div id='content'>
        {{ content }}
      </div>
    <div id='footer'>
    </div>
   {% include analytics.html %}    
</body>
</html>
